body {
  height: 100vh;
  margin:0;
  padding:0;
  background-color: bisque;
  box-sizing: border-box;
  }

.container {
  text-align: center;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 1fr 3fr;
}

h3 {
  font-size:18px;
  text-align: left;
  margin: 10px 20px;
}

.container div {
  padding: 10px;
  font-size: 32px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container .article {
  display: grid;
  grid-template-columns: repeat(2,250px);
  grid-template-rows: repeat(2,250px);
  gap:20px;
  padding: 20px 20px;
  
  }

.container .smallarticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height:100vh;
}

.container .small-article .box  {
  padding:10px 10px;
  margin-top:30px;
}


.title,a, i {
  text-shadow: 1px 2px 2px black;
}
.box {
  background: #fff;
  border-radius: 10px;
  padding:10px;
  box-shadow: 3px 3px 3px rgba(0,0,0.6);
  border-left: 5px solid #e08020;
  }

  .box p {
  font-size: 16px;
  font-family: sans-serif;
  color:black;
  text-align: left;
}

.header {
  position: relative;
  background-color:#f3f4f6;
  grid-column: 2 / 4;
  display:flex;
  justify-self: space-between;
  align-items: center;
  gap:500px;
  box-shadow: 0px 4px 4px rgba(0,0,0.6);
  height: 200px;
}

.header img {
  position:absolute;
  height:50px;
  width:50px;
  border-radius:50%;
  margin:20px 10px;
  left:520px;
  bottom:80px;

}

.header .search {
  display: flex;
  gap:10px;
}

.header input {
  width:400px;
  border:none;
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
  background-color:bisque;;
  opacity: 0.8;
}

.header .search, .header .input {
  position:absolute;
  top:20px;
  left:20px;

}
.header button {
  padding:10px 30px;
  background:#60a5fa;
  border:none;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
}


.header button a {
  text-decoration: none;
  color:#f3f4f6;
}

.sidebar {
  position: relative;
  background-color:#60a5fa;
  grid-row: 1/ 4;
  color:#f3f4f6;
}

.sidebar img {
  position: absolute;
  height:50px;
  width:50px;
  left:0;
  top:20px;

}

.sidebar .links {
  display: flex;
  justify-self: center;
  align-items: center;
  gap:10px;
  margin:0 20px; 
}

.sidebar a {
  color:white;
  text-decoration:none;
  font-size:16px;
}

.sidebar i {
  font-size:18px;
}


.box:hover{
background-color: #e08020;
transform:scale(1.02);
}

button:hover, input:hover{
  background-color: #e08020;
}

a:hover {
color: #e08020;
}